<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Form Penambahan Data (Barang Masuk)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col col-12>
              <form (ngSubmit)="add()">
                  <ion-item>                                     
                      <ion-label color="primary" position="stacked">Nama Barang</ion-label>
                      <ion-input type="text" [(ngModel)]="FormSimpanData.name" name="name" ></ion-input>                 
                  </ion-item>  
                  <ion-item>                                     
                    <ion-label color="primary" position="stacked">Jumlah</ion-label>
                    <ion-input type="number" [(ngModel)]="FormSimpanData.quantity" name="quantity" ></ion-input>                 
                  </ion-item>  
                  <ion-item>                                     
                    <ion-label color="primary" position="stacked">Deskripsi</ion-label>
                    <ion-input type="text" [(ngModel)]="FormSimpanData.desk" name="desk" ></ion-input>                 
                  </ion-item>        
                    <!-- <ion-button expand="block"  type="submit" color="primary" [disabled]="!FormSimpanData.valid" >Simpan</ion-button> -->
                    <ion-button expand="block"  type="submit" color="primary">Simpan</ion-button>
              </form>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>