<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inventory-list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Inven List</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="form-pengambilan">
      <ion-icon name="arrow-down-outline"></ion-icon>
      <ion-label>Form Take</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="form-penambahan">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Form Add</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inventory-log">
      <ion-icon name="refresh-outline"></ion-icon>
      <ion-label>Inven Log</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>